.git
.github
.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
*.pyc
*.pyo
*.pyd
*.log
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
ansible/inventory.ini
